.search-container {
  background-color: mediumaquamarine;
  display: flex;
  height: 35px;
  align-items: center;
  margin-top: 5px;
}

.search-container input {
  flex: 1;
  border: none;
  padding-left: 10px;
  height: 35px;
}

::placeholder {
  color: purple;
  font-size: 20px;
  margin-bottom: 0;
}

.search-container input:focus {
  outline: none;
}

.search-icon {
  background: linear-gradient(30deg, #fc4584 6%, #fc4562 66%, #fca345 92%);
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon .MuiSvgIcon-root {
  font-size: 36px;
}
